{% extends "Template.html" %}
{% block body_block %}
	{% if flight_list|length == 0 %}
		<div>
		<h1 style="padding-top:40px;font-family: sans-serif;"> No flights in this section </h1>
		</div>
	{% else %}
		{% for flight in flight_list %}
		<div class = "flight-div">
			<h1 style="font-family: serif; margin-top:30px;"> Flight {{ flight.number }} </h1>
			<p style="color:green; font-size: 20px;"> {{ flight.source }} to {{ flight.destination }} </p>
			<table class="table times" style="border-style: double;border-radius: 35px;border-color:white;">
				<tr>
					<td> Departure : </td>
					<td> {{flight.departure}} </td>
				</tr>
				<tr>
					<td> Reach : </td>
					<td> {{flight.reach}} </td>
				</tr>
			
			<tr> 
				<td>Vacancy: </td>
				<td>{{ flight.vacancy }} seats left out of {{ flight.capacity }}</td>
			</tr>
			<tr>
				<td> Price per head : </td>
				<td><span class="price"> Rs. {{flight.price_per_head}} </span>
				</td>
			</tr>
			</table>
			{% if user.is_superuser %}
				<a class="btn btn-danger" href="/deleteFlight/{{flight.pk}}">Delete</a>
				<a class="btn btn-primary" href="/editFlight/{{flight.pk}}">Edit</a>
			{% else %}
				{% if flight.vacancy == 0 %}
					<a class="btn btn-light">Seats Full</a>
				{% else %}
					<a href="/book/{{ flight.pk }}" class="btn btn-success">Book now</a>
				{% endif %}
			{% endif %}
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
