{% extends "Template.html" %}
{% block body_block %}
	{% if error %}
	<div class="contaier error-block">
		<div class="alert alert-danger">
		{% if error_msg|length == 1 %}
		<h4>Error : </h4>
		{% else %}
		<h4>Errors : </h4>
		{% endif %}
			<div class="contaier error-container">
				{% for i in error_msg %}
					{{i}}<br>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit"></input>
	</form>
	<script>
		$(function () {
    			$("#id_date").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
    			$("#id_departure").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
    			$("#id_reach").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
  		});
		$(document).ready(function(){
			formClass("{{formName}}")
		});
		
	</script>
{% endblock %}
