{% extends "Template.html" %}
{% block body_block %}
	{% if error %}
	<div class="error-block">
		{% for i in error_msg %}
			<li> {{i}} </li>
		{% endfor %}
	</div>
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		<input type="submit" />
	</form>
	<script>
		$(function () {
    			$("#id_date").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
    			$("#id_departure").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
    			$("#id_reach").datetimepicker({
      				format: 'd/m/Y H:i',
    			});
  		});
	</script>
{% endblock %}
