{% extends "Template.html" %}
{% block body_block %}

<h1 style="font-family: arial; margin-top: 30px;"> Your profile </h1>
<div class="userinfoblock">
	<p>
		Username : {{ passenger.user.username }}<br>
		Email : {% if passenger.email %} {{passenger.user.email}} {% else %} Not set {% endif %}
	</p>
</div>
<br>
<h3 style="font-family: georgia;">Tickets: </h3>
<hr><br>
{% if passenger.tickets.all|length %}
	{% for i in passenger.tickets.all %}
		<div class="container ticketblock">
			<h5 style="font-family: consolas;">Ticket No.  {{ i.number }}</h5>
			{{i.flight.source}} to {{i.flight.destination}} 
			<table class="table" style="border-style: double;border-radius: 35px;">
				<tr><td>Flight No.  </td><td>{{ i.flight.number }}</td></tr>
				<tr><td>Passengers  </td><td>{{ i.n_passenger }}</td></tr>
				<tr><td>Booking Time  </td><td>{{ i.booked_at }}</td></tr>
				<tr><td>Price  </td><td>{{ i.totalPrice }}</td></tr>
			</table>
			<a class="btn btn-danger" href="/cancelTicket/{{i.pk}}">Cancel</a>
		</div>
		<hr>
	{% endfor %}
{% else %}
	<h4 style="font-family: lucida console; background-color: #ffff66; padding: 25px; border-radius: 10px;"> No tickets booked yet...<br> Book now and let's travel!</h4>
{% endif %}

{% endblock %}
